{% include "support/add-button.twig" %}
<p>Список пользователей в хранилище:</p>

<ul id="navigation">
    {% for user in users %}
        <li>
            <a href="/payment/find/?id={{ user.getIdUser() }}">
                {{ user.getIdUser() }} | {{ user.getUserName() }} {{ user.getUserlastname() }}. День рождения: {{ user.getUserBirthdayTimestamp() | date('d.m.Y') }}
            </a>
        </li>
    {% endfor %}
</ul>